#block-featured_products-block,
#block-featured_products-block_1,
#block-featured_products-block_2,
#block-featured_products-block_3 {
  overflow: hidden;

  .view-content {
    .jcarousel-container {
      width: 100%;
      height: inherit;

      .jcarousel-clip {
        width: 100%;
        height: inherit;
        margin: 0 auto;

        ul.jcarousel {
          width: 100%;

          > li {
            width: 24%;
            border: 0;
            height: inherit;
            min-height: 280px;
          }
        }
      }
    }
  }
}