.node-type-product {
  #content {
    > h1 {
      display: none;
    }

    #content-area {
      width: 822px;
      background: #ffffff;
      overflow: hidden;

      .field-name-submitted-by {
        margin: 0 0 10px 20px;
        color: grey;
        font-size: 14px;
      }

      .view-mode-full {
        .group-header {
          .field-name-field-product-pay {
            input.form-submit {
              width: 300px;
              height: 40px;
              text-align: center;
              background-color: #8c2e0b;
              color: white;
              border: 0;
              border-radius: 4px;
            }
          }
        }

        .group-header-right {
          overflow: hidden;
          margin-bottom: 20px;
        }
        .group-header-left,
        .group-left {
          float: left;

          .field-name-title h2 {
            padding: 10px 0 0 20px;
            float: left;
          }
        }

        .group-header-right,
        .group-right {
          float: right;

          .field-name-field-product-price {
            font-size: 35px;
            font-weight: bold;
            margin-right: 20px;
          }

          .flag-outer-like {
            margin: -53px 20px 20px 731px;
            width: 50px;
            height: 50px;

            .flag-outer {
              margin: 20px 10px -10px 18px;

              a {
                background: url("../images/corazon.jpg") no-repeat;
                width: 30px;
                height: 30px;
                text-indent: -500em;
                display: block;
                background-size: 100%;
                margin: 0 20px 0 46px;
              }
            }
          }
        }

        .group-footer {
          clear: both;
          overflow: hidden;
        }

        .field-name-field-product-image img {
          width: 794px;
          height: 448px;
          margin: 15px;
        }

        .field-name-body p {
          padding: 5px 0 5px 20px;
        }

        .field-name-field-email {
          .field-label {
            float: left;
            margin-left: 20px;
          }
          a {
            color: grey;
          }
        }

        .field-name-field-phone .field-label {
          float: left;
          margin-left: 20px;
        }

        .view-product-gallery {
          .views-slideshow-controls-bottom {
            clear: both;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
