.view-mode-teaser.node-product {
  width: 250px;
  border: 1px solid #8F8F8F;
  margin: 0 auto;
  padding: 0 0 10px;

  .field-name-field-product-image {
    margin: 0 0 10px;
  }

  .field-name-title {
    text-align:  center;

    h2 {
      font-size: 18px;

      a {
        color: #0d3349;
      }
    }
  }

  .field-name-field-product-price {
    color: #1a2c51;
    font-weight: bold;

    .label-inline {
      display: inline;
    }
  }
}