html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
  }
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
  text-decoration: underline;
}

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 100%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
  word-wrap: break-word;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
  }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100.0%, transparent 100.0%);
  }
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100.0%, transparent 100.0%);
  }
}

#block-featured_products-block {
  margin: 20px 0 10px 0;
  overflow: hidden;
}
#block-featured_products-block h3 {
  font-size: 20px;
}
#block-featured_products-block .view-content .views-row {
  float: left;
  margin: 0 17px 0 0;
}
#block-featured_products-block .view-content .views-row-10, #block-featured_products-block .view-content .views-row-5 {
  float: right;
  margin: 0;
  padding: 0;
}
#block-featured_products-block .view-content .views-row .field-type-image {
  margin: 0 0 10px;
}
#block-featured_products-block .view-content .views-row .field-type-image img {
  width: 228px;
  height: 183px;
}
#block-featured_products-block .view-content .views-row .field-name-field-product-price {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 20px;
}
#block-featured_products-block .view-content .views-row .field-name-title {
  text-align: center;
  font-size: 10px;
}

#block-_featured_products_search-block {
  margin: 10px 0 10px 0;
  overflow: hidden;
}
#block-_featured_products_search-block .title {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#block-_featured_products_search-block .views-row {
  width: 227px;
  height: 256.53px;
  background: #ffffff;
  border-bottom: 1px solid #607d8b;
  border-right: 1px solid #607d8b;
  border-radius: 3px;
  margin-right: 17px;
  float: left;
  margin-top: 5px;
}
#block-_featured_products_search-block .views-row-last {
  float: right;
  margin: 5px 0 0 0;
}
#block-_featured_products_search-block .field-name-field-product-image img {
  width: 100%;
  height: auto;
}
#block-_featured_products_search-block .field-name-title {
  text-align: center;
  margin: 10px;
}
#block-_featured_products_search-block .field-name-body {
  margin: 0 0 0 10px;
}
#block-_featured_products_search-block .view a {
  text-align: center;
  color: #607d8b;
  font-size: 15px;
}

#block-featured_products-block_4 {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
#block-featured_products-block_4 .views-row {
  float: left;
  width: 25%;
}

#block-shops-block_1 {
  clear: both;
  margin: 40px 0;
  overflow: hidden;
}
#block-shops-block_1 .views-row {
  float: left;
  width: 200px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #CCC;
  text-align: center;
  min-height: 130px;
  line-height: 130px;
}
#block-shops-block_1 .views-row img {
  vertical-align: middle;
}

#block-featured_category-block {
  margin: 0;
  clear: both;
  overflow: hidden;
}
#block-featured_category-block .title {
  font-size: 20px;
  margin-top: 5px;
}
#block-featured_category-block .view-row-parent-term {
  float: left;
  width: 290px;
}
#block-featured_category-block .view-row-parent-term ul li {
  list-style: none;
}
#block-featured_category-block .view-row-parent-term ul li a {
  color: #607d8b;
  margin: 0 0 0 10px;
  font-size: 14px;
}
#block-featured_category-block .view-row-parent-term h3 {
  font-size: 15px;
  line-height: 46px;
  text-align: left;
  margin: 0 0 10px 10px;
  color: #000;
}
#block-featured_category-block .view-row-parent-term h3 img {
  margin-right: 10px;
}

#block-featured_products-block,
#block-featured_products-block_1,
#block-featured_products-block_2,
#block-featured_products-block_3 {
  overflow: hidden;
}
#block-featured_products-block .view-content .jcarousel-container,
#block-featured_products-block_1 .view-content .jcarousel-container,
#block-featured_products-block_2 .view-content .jcarousel-container,
#block-featured_products-block_3 .view-content .jcarousel-container {
  width: 100%;
  height: inherit;
}
#block-featured_products-block .view-content .jcarousel-container .jcarousel-clip,
#block-featured_products-block_1 .view-content .jcarousel-container .jcarousel-clip,
#block-featured_products-block_2 .view-content .jcarousel-container .jcarousel-clip,
#block-featured_products-block_3 .view-content .jcarousel-container .jcarousel-clip {
  width: 100%;
  height: inherit;
  margin: 0 auto;
}
#block-featured_products-block .view-content .jcarousel-container .jcarousel-clip ul.jcarousel,
#block-featured_products-block_1 .view-content .jcarousel-container .jcarousel-clip ul.jcarousel,
#block-featured_products-block_2 .view-content .jcarousel-container .jcarousel-clip ul.jcarousel,
#block-featured_products-block_3 .view-content .jcarousel-container .jcarousel-clip ul.jcarousel {
  width: 100%;
}
#block-featured_products-block .view-content .jcarousel-container .jcarousel-clip ul.jcarousel > li,
#block-featured_products-block_1 .view-content .jcarousel-container .jcarousel-clip ul.jcarousel > li,
#block-featured_products-block_2 .view-content .jcarousel-container .jcarousel-clip ul.jcarousel > li,
#block-featured_products-block_3 .view-content .jcarousel-container .jcarousel-clip ul.jcarousel > li {
  width: 24%;
  border: 0;
  height: inherit;
  min-height: 280px;
}

.node-type-product #content > h1 {
  display: none;
}
.node-type-product #content #content-area {
  width: 822px;
  background: #ffffff;
  overflow: hidden;
}
.node-type-product #content #content-area .field-name-submitted-by {
  margin: 0 0 10px 20px;
  color: grey;
  font-size: 14px;
}
.node-type-product #content #content-area .view-mode-full .group-header .field-name-field-product-pay input.form-submit {
  width: 300px;
  height: 40px;
  text-align: center;
  background-color: #8c2e0b;
  color: white;
  border: 0;
  border-radius: 4px;
}
.node-type-product #content #content-area .view-mode-full .group-header-right {
  overflow: hidden;
  margin-bottom: 20px;
}
.node-type-product #content #content-area .view-mode-full .group-header-left,
.node-type-product #content #content-area .view-mode-full .group-left {
  float: left;
}
.node-type-product #content #content-area .view-mode-full .group-header-left .field-name-title h2,
.node-type-product #content #content-area .view-mode-full .group-left .field-name-title h2 {
  padding: 10px 0 0 20px;
  float: left;
}
.node-type-product #content #content-area .view-mode-full .group-header-right,
.node-type-product #content #content-area .view-mode-full .group-right {
  float: right;
}
.node-type-product #content #content-area .view-mode-full .group-header-right .field-name-field-product-price,
.node-type-product #content #content-area .view-mode-full .group-right .field-name-field-product-price {
  font-size: 35px;
  font-weight: bold;
  margin-right: 20px;
}
.node-type-product #content #content-area .view-mode-full .group-header-right .flag-outer-like,
.node-type-product #content #content-area .view-mode-full .group-right .flag-outer-like {
  margin: -53px 20px 20px 731px;
  width: 50px;
  height: 50px;
}
.node-type-product #content #content-area .view-mode-full .group-header-right .flag-outer-like .flag-outer,
.node-type-product #content #content-area .view-mode-full .group-right .flag-outer-like .flag-outer {
  margin: 20px 10px -10px 18px;
}
.node-type-product #content #content-area .view-mode-full .group-header-right .flag-outer-like .flag-outer a,
.node-type-product #content #content-area .view-mode-full .group-right .flag-outer-like .flag-outer a {
  background: url("../images/corazon.jpg") no-repeat;
  width: 30px;
  height: 30px;
  text-indent: -500em;
  display: block;
  background-size: 100%;
  margin: 0 20px 0 46px;
}
.node-type-product #content #content-area .view-mode-full .group-footer {
  clear: both;
  overflow: hidden;
}
.node-type-product #content #content-area .view-mode-full .field-name-field-product-image img {
  width: 794px;
  height: 448px;
  margin: 15px;
}
.node-type-product #content #content-area .view-mode-full .field-name-body p {
  padding: 5px 0 5px 20px;
}
.node-type-product #content #content-area .view-mode-full .field-name-field-email .field-label {
  float: left;
  margin-left: 20px;
}
.node-type-product #content #content-area .view-mode-full .field-name-field-email a {
  color: grey;
}
.node-type-product #content #content-area .view-mode-full .field-name-field-phone .field-label {
  float: left;
  margin-left: 20px;
}
.node-type-product #content #content-area .view-mode-full .view-product-gallery .views-slideshow-controls-bottom {
  clear: both;
  margin-top: 20px;
}

header#header {
  background: #FF8230;
  width: 100%;
  height: 67px;
}
header#header .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
header#header .container img {
  border-radius: 50px;
}
header#header .container #logo {
  float: left;
  margin: 13px 30px 10px 0;
}
header#header .container #menu-category {
  width: 110px;
  float: left;
  display: block;
  padding: 23px 0 0 0;
}
header#header .container #menu-category .icon-category a {
  display: block;
  color: #FFF;
  height: 20px;
  line-height: 20px;
  position: relative;
}
header#header .container #menu-category .icon-category a .menu-categories {
  display: none;
  background-color: white;
  padding: 15px 20px;
  width: 720px;
  border-radius: 10px;
  border: 1px solid #8F8F8F;
  position: absolute;
  z-index: 999;
}
header#header .container #menu-category .icon-category a .menu-categories a {
  color: #1a2c51;
  padding: 4px 5px;
  font-size: 12px;
}
header#header .container #menu-category .icon-category a:hover {
  text-decoration: underline;
}
header#header .container #menu-category .icon-category a:hover .menu-categories {
  display: block;
}
header#header .container #site-name {
  float: left;
  margin: 30px 10px 10px 20px;
  font-size: 20px;
}
header#header .container #header-region {
  float: left;
  width: auto;
}
header#header .container #header-region #block--exp-products-page {
  float: left;
  width: 480px;
  padding: 8px 0 0 0;
}
header#header .container #header-region #block--exp-products-page .views-exposed-widget {
  padding: 0;
}
header#header .container #header-region #block--exp-products-page .views-exposed-widget input.form-text {
  width: 406px;
  height: 46px;
  border: 0;
  margin: 0;
  border-radius: 12px 0 0 12px;
}
header#header .container #header-region #block--exp-products-page .views-exposed-widget input.form-submit {
  width: 55px;
  height: 46px;
  margin: 0;
  float: left;
  border: 0;
  border-radius: 0 12px 12px 0;
  background: #FFF url("../images/icon_search.png") no-repeat center center;
  text-indent: -500em;
}
header#header .container #header-region #block-user-menu {
  width: auto;
  float: left;
  padding: 20px 0 0 0;
}
header#header .container #header-region #block-user-menu ul li {
  float: left;
  padding: 0 15px;
  margin: 0;
  border-right: 1px solid #FFF;
}
header#header .container #header-region #block-user-menu ul li a {
  color: #ffffff;
}
header#header .container #header-region #block-user-menu ul li.last {
  border-right: 0;
}
header#header .container #header-region #block-user-menu .ayuda a {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 5px 20px 5px 20px;
}
header#header .container #header-region #block-user-menu .leaf {
  float: left;
  list-style: none;
}
header#header .container #header-region #block-user-menu .buy {
  border-radius: 3px;
  border: 1px solid #ffffff;
  padding: 0 30px 0 30px;
  height: 40px;
  line-height: 40px;
  margin: -6px 10px 0 30px;
  color: #ffffff;
}

#footer .container {
  margin: 0 auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 14px;
  height: 50px;
  width: 1200px;
  text-align: center;
  padding: 10px;
  text-align: center;
  color: #000;
}
#footer .container p {
  clear: both;
  line-height: 45px;
  margin: 0 0 0 50px;
  font-size: 13px;
}

#pre-footer {
  background: #DDDDDD;
  width: 100%;
  height: 230px;
  border-top: 1px solid grey;
  margin-top: 20px;
  overflow: hidden;
  clear: both;
}
#pre-footer .container {
  margin: 0 auto;
  max-width: 1200px;
}
#pre-footer .container #block-menu-information .leaf, #pre-footer .container #block-menu-servicios-de-olx .leaf {
  list-style: none;
}
#pre-footer .container .title {
  font-size: 16px;
}
#pre-footer .container .block {
  margin: 40px 20px 0 10px;
  float: left;
  width: 20%;
}
#pre-footer .container .block .menu {
  list-style: none;
  font-size: 12px;
}
#pre-footer .container .block .menu a {
  color: #607d8b;
}
#pre-footer .container #block-2 .spams img {
  width: 200px;
  height: 178px;
  max-width: 529%;
  margin: -108px 0 0 192px;
}

.fullscreen-bg {
  position: relative;
}
.fullscreen-bg .button-vender {
  position: absolute;
  bottom: 30px;
  left: 42%;
  z-index: 99;
}
.fullscreen-bg .button-vender a {
  width: 200px;
  font-size: 22px;
  text-align: center;
  color: white;
  background-color: #0b97c4;
  padding: 10px 30px;
  border-radius: 5px;
  display: block;
  line-height: 30px;
  text-transform: uppercase;
}
.fullscreen-bg .button-vender a:hover {
  text-decoration: none;
}
.fullscreen-bg .fullscreen-bg__video {
  width: 100%;
  max-height: 400px;
}

#sidebar-first {
  margin-top: 94px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
#sidebar-first .views-exposed-form label {
  margin: 10px;
  text-align: center;
}
#sidebar-first .views-exposed-form .views-widget select {
  margin: 0 0 0 11px;
}
#sidebar-first #block--exp-products-product_filter label {
  margin: 10px 0 10px 0 20px;
}
#sidebar-first #block--exp-products-block_1 input {
  width: 80px;
  height: 42px;
  color: white;
  background: #02b875;
  border: 1px solid #02b875;
  border-radius: 3px;
  margin: 0 0 10px 100px;
}

#sidebar-second {
  margin-top: 124px;
  width: 350px;
  margin-left: 14px;
}
#sidebar-second #block-user_contact-block .view-id-user_contact .views-field-picture img {
  width: 130px;
  height: 130px;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 20px 120px 20px 120px;
}
#sidebar-second #block-user_contact-block .view-id-user_contact .views-field-name {
  text-align: center;
  font-size: 25px;
}
#sidebar-second #block-privatemsg_block_new label {
  margin: 0 0 10px 20px;
}
#sidebar-second #block-privatemsg_block_new .form-textarea-wrapper textarea {
  display: block;
  margin: 0 15px 0 15px;
  width: 92%;
  border: 1px solid #9E9E9E;
  border-radius: 3px;
  box-sizing: border-box;
}
#sidebar-second #block-privatemsg_block_new .fieldset-wrapper {
  display: none;
}
#sidebar-second #block-privatemsg_block_new .form-actions input {
  width: 92%;
  height: 42px;
  margin: 0 15px 0 15px;
  color: white;
  background: #02b875;
  border: 1px solid #02b875;
  border-radius: 3px;
}

.page-taxonomy #content #content-area {
  border: 1px solid #02b875;
}
.page-taxonomy #content #content-area .views-row {
  border-bottom: 1px solid #02b875;
  padding: 10px 0 10px 0;
}
.page-taxonomy #content #content-area .views-row-last {
  border-bottom: 0;
}
.page-taxonomy #content #content-area .contextual-links-region .group-left {
  width: 250px;
  height: 160px;
}
.page-taxonomy #content #content-area .contextual-links-region .group-middle {
  width: 24%;
  float: left;
}
.page-taxonomy #content #content-area .contextual-links-region img {
  width: 180px;
  height: 160px;
  margin: 0 10px;
}
.page-taxonomy #content #content-area .contextual-links-region .field-name-field-featured {
  background: #02b875;
  width: 100px;
  color: white;
  border: 1px solid #02b875;
  border-radius: 15px;
  text-align: center;
  margin-left: 3px;
  margin-bottom: 20px;
}
.page-taxonomy #content #content-area .group-middle a {
  color: #607d8b;
  font-size: 25px;
  padding-top: 20px;
}
.page-taxonomy #content #content-area .group-right .field-name-field-product-price {
  font-size: 40px;
  margin: 50px 20px 30px 0;
}
.page-taxonomy #content #content-area .group-right .field-name-post-date .field-items {
  margin-left: -15px;
}

.page-user #main .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.page-user #main .container #content {
  background: #ffffff;
  margin-top: 10px;
  border-radius: 3px;
}
.page-user #main .container #content .breadcrumb, .page-user #main .container #content .tabs {
  display: none;
}
.page-user #main .container #content h1 {
  font-size: 25px;
  padding: 18px;
  border-bottom: 1px solid #c0c0c0;
}
.page-user #main .container #content #content-area form {
  margin-left: 85px;
  margin-top: 50px;
}
.page-user #main .container #content #content-area .form-type-textfield label {
  float: left;
  margin-top: 8px;
}
.page-user #main .container #content #content-area form .form-item-name {
  margin-left: 35px;
}
.page-user #main .container #content #content-area form .form-item-name .description {
  margin-left: 110px;
  margin-right: 20px;
  color: #ccc;
}
.page-user #main .container #content #content-area form .form-item-mail .description {
  margin-left: 145px;
  margin-right: 20px;
  color: #ccc;
}
.page-user #main .container #content #content-area form input {
  width: 330px;
  height: 38px;
  margin: 0 0 10px 30px;
  border-radius: 3px;
  color: #ccc;
}
.page-user #main .container #content #content-area #field-profie-firstname-add-more-wrapper .form-item {
  margin-left: 31px;
}
.page-user #main .container #content #content-area #field-profie-firstname-add-more-wrapper .form-item input {
  width: 330px;
  height: 38px;
  margin: 0 0 10px 30px;
  border-radius: 3px;
  color: #ccc;
}
.page-user #main .container #content #content-area #field-profile-lastname-add-more-wrapper .form-item {
  margin-left: 32px;
}
.page-user #main .container #content #content-area #field-profile-lastname-add-more-wrapper .form-item input {
  width: 330px;
  height: 38px;
  margin: 0 0 10px 30px;
  border-radius: 3px;
  color: #ccc;
}
.page-user #main .container #content #content-area .form-actions {
  margin: 0 0 20px 114px;
}
.page-user #main .container #content #content-area .form-actions input {
  background: #02b875;
  border: 1px solid #02b875;
  border-radius: 3px;
  color: #ffffff;
  height: 38px;
}
.page-user #main .container #content #content-area .form-type-password {
  margin-left: 35px;
}
.page-user #main .container #content #content-area .form-type-password label {
  float: left;
  margin-right: 4px;
}
.page-user #main .container #content #content-area .form-type-password .description {
  color: #ccc;
  margin-left: 110px;
}

.page-faq-page #main .container #content #content-area .faq-ul-questions-top {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 658px;
}
.page-faq-page #main .container #content #content-area .faq-ul-questions-top li {
  width: 658px;
  height: 78px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  list-style: none;
  line-height: 78px;
  padding-left: 40px;
}
.page-faq-page #main .container #content #content-area .faq-ul-questions-top li a {
  font-size: 20px;
}
.page-faq-page #main .container #content #content-area .faq-question {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 5px;
  padding: 10px 0 10px 40px;
  width: 658px;
}
.page-faq-page #main .container #content #content-area .faq-answer {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 5px;
  padding: 10px 0 10px 40px;
  width: 658px;
}
.page-faq-page #main .container #content #content-area .faq-answer .field-name-field-faq-category .field-label {
  display: none;
}
.page-faq-page #main .container #content #content-area .faq-question a {
  color: #ccc;
}
.page-faq-page #main .container #content #content-area .faq-answer a {
  color: grey;
}
.page-faq-page #main .container #content #content-area .faq-answer .first {
  display: none;
}

.page-node-add-product #main #content h1.title,
.page-node-add-product #main #content .breadcrumb {
  display: none;
}
.page-node-add-product #main #content form.node-product-form .field-name-field-product-image .form-type-managed-file label {
  display: none;
}
.page-node-add-product #main #content form.node-product-form .field-name-field-product-image .form-type-managed-file .image-widget-data input.form-file {
  text-indent: -500em;
  width: 120px;
  height: 120px;
  background: url("../images/icon_image.png") no-repeat 0 -16px;
  color: transparent;
  cursor: pointer;
}
.page-node-add-product #main #content form.node-product-form .field-name-field-product-image .form-type-managed-file .image-widget-data input.form-submit {
  padding: 5px 15px;
  border: 0;
  background-color: #FF8230;
  color: #FFFFFF;
  margin-left: 20px;
}
.page-node-add-product #main #content form.node-product-form .field-name-field-product-image .form-type-managed-file .description {
  display: none;
}
.page-node-add-product #main #content form.node-product-form .field-name-field-related-shop,
.page-node-add-product #main #content form.node-product-form .field-name-field-product-pay,
.page-node-add-product #main #content form.node-product-form .field-name-field-product-type {
  display: none;
}
.page-node-add-product #main #content form.node-product-form .form-actions .form-submit {
  padding: 5px 15px;
  border: 0;
  background-color: #FF8230;
  color: #FFFFFF;
}

.view-mode-teaser.node-product {
  width: 250px;
  border: 1px solid #DDD;
  margin: 0 auto;
  padding: 0 0 10px;
}
.view-mode-teaser.node-product .field-name-field-product-image {
  margin: 0 0 10px;
}
.view-mode-teaser.node-product .field-name-title {
  text-align: center;
}
.view-mode-teaser.node-product .field-name-title h2 {
  font-size: 18px;
}
.view-mode-teaser.node-product .field-name-title h2 a {
  color: #0d3349;
}
.view-mode-teaser.node-product .field-name-field-product-price {
  color: #1a2c51;
  font-weight: bold;
}
.view-mode-teaser.node-product .field-name-field-product-price .label-inline {
  display: inline;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #8F8F8F;
}
body.admin-menu #page {
  margin-top: 30px;
}
body::before {
  background-image: none;
}

#main {
  clear: both;
}
#main #highlighted {
  margin: 10px auto;
  max-width: 1200px;
}
#main #highlighted ul {
  background: #2B2B2B;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  padding: 10px;
  overflow: hidden;
}
#main #highlighted ul li {
  float: left;
  list-style: none;
  padding: 0 10px;
}
#main #highlighted ul li a {
  color: #FFF;
}
#main .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
#main #content #content-area .view-products .view-content {
  border: 1px solid #02b875;
}
#main #content #content-area .view-products .view-content .field-name-field-product-image img {
  float: left;
  width: 144px;
  height: 112px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
#main #content #content-area .view-products .view-content .group-left {
  width: 18%;
  float: left;
}
#main #content #content-area .view-products .field-name-field-featured {
  background: #02b875;
  width: 100px;
  color: white;
  border: 1px solid #02b875;
  border-radius: 15px;
  text-align: center;
  margin-left: 3px;
}
#main #content #content-area .view-products .view-content .field-name-title h2 {
  width: 200px;
  float: left;
  margin: 0px 0 0 5px;
}
#main #content #content-area .view-products .view-content .field-name-title a {
  color: #607d8b;
  font-size: 25px;
}
#main #content #content-area .view-products .view-content .field-name-field-product-price .field-item {
  float: left;
  font-size: 25px;
  margin: 30px 40px 0 0;
  width: 100px;
}
#main #content #content-area .view-products .view-content .group-right {
  width: 32%;
  float: right;
}
#main #content #content-area .view-products .view-content .group-right .field-type-ds {
  color: #607d8b;
  font-size: 13px;
  margin-top: 35px;
}
#main #content #content-area .view-products .view-content .views-row {
  border-bottom: 1px solid #02b875;
  padding: 10px 0 10px 10px;
}
#main #content #content-area .view-products .view-content .views-row-last {
  border-bottom: 0;
}
#main #content #content-area .item-list .pager {
  margin: 10px 20px 10px 20px;
}
#main #content #content-area .item-list .pager .pager-current {
  background: #607d8b;
  border: 1px solid #607d8b;
  border-radius: 19px;
  color: #ffffff;
  padding: 2px 6px;
  font-size: 15px;
}
#main #content #content-area .item-list .pager a {
  color: #607d8b;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
